* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background-color: #1c2528;
	padding: 1em;
	margin: 0;
}

svg {
	display: block;
	margin: auto;
	max-width: 100%;
}

svg circle {
	fill: none;
	stroke: #2b3437;
	stroke-width: 20;
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-ms-transform-origin: center;
	transform-origin: center;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}

svg circle[data-ending] {
	transition-duration: 0s;
}

svg circle.segments {
	stroke: rgba(0, 0, 0, 0.5);
	opacity: 1;
	transition: opacity 1s;
}

svg text {
	fill: #91afb6;
	font-family: sans-serif;
	font-size: 0.7em;
	opacity: 1;
	transition: opacity 1s;
}

svg.hide-details text,
svg.hide-details .segments {
	opacity: 0;
}

.year.progress {
	stroke: #395e66;
}

.year + text {
	fill: #889ea3;
}

.month.progress {
	stroke: #387d7a;
}

.month + text {
	fill: #88b1af;
}

.week.progress {
	stroke: #32936f;
}

.week + text {
	fill: #84bea9;
}

.day.progress {
	stroke: #26a96c;
}

.day + text {
	fill: #7dcba7;
}

.hour.progress {
	stroke: #12c777;
}

.hour + text {
	fill: #71ddad;
}

.minute.progress {
	stroke: #0be886;
}

.minute + text {
	fill: #6df1b6;
}

@keyframes second {
	to {
		transform: rotate(270deg);
	}
}

.second {
	stroke-width: 20;
}

.second.progress {
	stroke: #29ffa0;
	stroke-dasharray: 1 942;
	stroke-linecap: round;
}

.second.progress.is-animated {
	animation: second 1s linear infinite;
}

.second + text {
	fill: #7fffc6;
}
