html, body{
	padding:0;
	margin:0;
	height: 100%;
	font-family: Helvetica, sans-serif;
	color: #ccc;
	background: #151C21;
}
.page{
	height: 100%;
}
#canvasContainer{
	height: 100%;
	width: 400px;
	margin: 0 auto;
	position: relative;
}
canvas{	
	position: absolute;
	text-align: center;
	height: 100%;
	font-size: 2em;
	color: #F08C1A;
}
#labels,
h1{
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}
#labels:hover,
#labels:active,
body.touched #labels,
#canvasContainer:hover h1,
body.touched h1{
	opacity: .8;
}
h1{
	font-family: 'Oxygen', Helvetica, sans-serif;
	top: 50%;
	text-align: center;
	width: 100%;
	position: absolute;
	color: #444;
	font-size: 2em;
	margin-top: -1em;
}